@font-face {
  font-family: "iconfont"; /* Project id 5038137 */
  src: url('iconfont.woff2?t=1760164807009') format('woff2'),
       url('iconfont.woff?t=1760164807009') format('woff'),
       url('iconfont.ttf?t=1760164807009') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\e609";
}

.icon-tuichu:before {
  content: "\e60a";
}

.icon-quanping:before {
  content: "\e60b";
}

