@font-face {
  font-family: "iconfont"; /* Project id 5038137 */
  src: url('iconfont.woff2?t=1761352933907') format('woff2'),
       url('iconfont.woff?t=1761352933907') format('woff'),
       url('iconfont.ttf?t=1761352933907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoding:before {
  content: "\e600";
}

.icon-xinjianchuangkou:before {
  content: "\e601";
}

.icon-chuizhijuzhongduiqi:before {
  content: "\e654";
}

.icon-shangduiqi:before {
  content: "\e657";
}

.icon-shuipingjuzhongduiqi:before {
  content: "\e658";
}

.icon-xiaduiqi:before {
  content: "\e65a";
}

.icon-youduiqi:before {
  content: "\e65b";
}

.icon-zuoduiqi:before {
  content: "\e65c";
}

.icon-fuyuan:before {
  content: "\e617";
}

.icon-chuizhifanzhuan:before {
  content: "\e661";
}

.icon-shuipingfanzhuan:before {
  content: "\e662";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-zuishangceng:before {
  content: "\e63f";
}

.icon-zuixiaceng:before {
  content: "\e64a";
}

.icon-shangyiceng:before {
  content: "\e64b";
}

.icon-xiayiceng:before {
  content: "\e64c";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-quxiaozuhe:before {
  content: "\e62d";
}

.icon-shuipingdengjianju:before {
  content: "\e602";
}

.icon-chuizhidengjianju:before {
  content: "\e603";
}

.icon-gaoduxiangtong:before {
  content: "\e615";
}

.icon-kuanduxiangtong:before {
  content: "\e616";
}

.icon-zhantie:before {
  content: "\e640";
}

.icon-chexiao:before {
  content: "\e637";
}

.icon-huifu:before {
  content: "\e638";
}

.icon-wangyuanjing:before {
  content: "\e73b";
}

.icon-zuhe:before {
  content: "\e632";
}

.icon-fuzhi:before {
  content: "\e60d";
}

.icon-quxiaosuoding:before {
  content: "\e624";
}

.icon-jianqie:before {
  content: "\e60c";
}

.icon-dakaigongcheng:before {
  content: "\e729";
}

.icon-xinjiangongcheng:before {
  content: "\e72a";
}

.icon-suoxiaohua:before {
  content: "\e609";
}

.icon-tuichu:before {
  content: "\e60a";
}

.icon-quanping:before {
  content: "\e60b";
}

